<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.mvvm</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplicationMVVM</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplicationMVVM</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides the base structure for a MVVM (Model-View-ViewModel) architecture project, including a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Nodes</key>
		<array>
			<string>RootView.swift</string>
			<string>RootViewModel.swift</string>
			<string>Something.swift</string>
		</array>
	<key>Definitions</key>
	<dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
			</array>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>RootView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
			</array>
			<key>Path</key>
			<string>RootView.swift</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>RootViewModel.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewModel</string>
			</array>
			<key>Path</key>
			<string>RootViewModel.swift</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>Something.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Model</string>
			</array>
			<key>Path</key>
			<string>Something.swift</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
</dict>
</plist>
